<h1>Orders</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th>Date</th>
      <th>Total</th>
      <th>Discount</th>
      <th>Grand Total</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Change Status</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td class="orderstatus"><%= order.order_status.description %></td>
        <td><%= order.order_date %></td>
        <td><%= number_to_currency(order.total_amount, precision: 2) %></td>
        <td><%= number_to_currency(order.discount_amount, precision: 2) %></td>
        <td><%= number_to_currency(order.grand_total_amount, precision: 2) %></td>
        <td><%= order.created_at %></td>
        <td><%= order.updated_at %></td>
        <td ><%= link_to 'Change to '+(order.order_status_id==1? 'Fulfilled': 'Not Fulfilled'),  fulfillorder_path(order),
          remote: true,
          method: :post,
          :class=>'btn btn-sm btn-info orderstatusbtn',
          data: { confirm: 'Are you sure to '+ (order.order_status_id==1? 'Fulfilled': 'Not Fulfilled')+'?' }

          %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr style="font-weight: bold;">
      <td colspan="2"></td>
      <td>Total</td>
      <td><%= number_to_currency(@orders.sum(:total_amount), precision: 2)%></td>
      <td><%= number_to_currency(@orders.sum(:discount_amount), precision: 2)%></td>
      <td><%= number_to_currency(@orders.sum(:grand_total_amount), precision: 2)%></td>
      <td colspan="3"></td>

    </tr>
  </tfoot>
</table>


